{% if page.hero %}
<div class="center m-auto mb4" style="max-width: 850px">
  <figure class="m0 relative">
    <amp-img width="600" height="400" alt="EIG Niger" layout="responsive" src="{% link /assets/images/hero.jpg %}"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
      <header class="p4">
        <h1 class="ampstart-fullpage-hero-heading">
          <span class="ampstart-fullpage-hero-heading-text">
            <span class="h1 block bold caps my1">EIG.ne</span><span class="h3 block">Le numérique, au service des citoyens</span>
          </span>
        </h1>
      </header>
    </figcaption>
  </figure>
</div>
{% endif %}
