{% if page.hero %}
<div class="center m-auto mb4" style="max-width: 850px">
  <figure class="m0 relative">
    <amp-img width="667" height="400" alt="EIG Niger" layout="responsive" src="{% link /assets/images/hero.jpg %}"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0 flex items-center content-center">
      <header class="hero-background">
        <h1 class="ampstart-fullpage-hero-heading">
          <span class="ampstart-fullpage-hero-heading-text">
            <span class="h1 block bold mb1">Entrepreneur d'intérêt général Niger</span><span class="h3 block">Le numérique par les nigériens pour les nigériens</span>
          </span>
        </h1>
      </header>
    </figcaption>
  </figure>
</div>
{% endif %}
