:root {
  --green: #84CD86;
}

body {
  background: #fff;
  color: #000;
  font-family: Lora, serif;
  font-size: 17px;
  min-width: 315px;
  overflow-x: hidden;
  font-smooth: always;
  -webkit-font-smoothing: antialiased
}

main {
  max-width: 750px;
  margin: 0 auto
}

p {
  padding: 0;
  margin: 0
}

.green-title {
  box-shadow: inset 0 -.3em #fff,inset 0 -0.6em var(--green);
  transition: all .1s;
}

.green-title:hover {
  box-shadow: inset 0 -.3em #fff,inset 0 -1.6em var(--green);
}

.ampstart-headerbar {
  background-color: #fff;
  color: #000;
}

.ampstart-fullpage-hero-heading {
  display: inline-block;
  background: rgba(0,0,0,.3);
  padding: 0 1rem .2rem;
}

.h1,.h2,.h3,h1,h2,h3 {
  font-family: Playfair Display, serif;
}

.h1, h1 {
  letter-spacing: .1px
}

.h2, h2 {
  letter-spacing: 0
}

.h3, h3 {
  letter-spacing: .3px
}

.h4, .h5, .h6, h4, h5, h6 {
  font-family: Lato,sans-serif;
  letter-spacing: 0
}

#accordion-questions h2 {
  color: #000;
}

.anchored {
  margin-top: -5.5rem;
  padding-top: 5.5rem
}
